@font-face {
    font-family: 'Anton';
    src: url('/fonts/anton.woff2') format('woff2'),
         url('/fonts/anton.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  .font-anton {
    font-family: 'Anton', sans-serif;
  }
  